In [5]:
import os

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

HOME_DIR = os.path.expanduser("~")
DATA_DIR = os.path.join(HOME_DIR, 'git', 'hello-world', 'interview_prep', 'data')

In [11]:
def check_missing_values(data):
    """Checks Missing Values By Column in Data"""
    df_count_missing = pd.DataFrame({
        'number_total_rows': data.shape[0],
        'number_missing_rows': data.isnull().sum(),
        'percentage': data.isnull().mean()})
    return df_count_missing

In [8]:
df = pd.read_csv(os.path.join(DATA_DIR, 'cfa_exercise_data.csv'))

In [9]:
df.head()

,app_id,completion_time_mins,household_size,income,docs_with_app,docs_after_app,under18_n,over_59_n,stable_housing,had_interview,zip,approved
0,1,16.577886,1.0,1980,0,3,0.0,0.0,True,True,92107,True
1,21,12.020592,1.0,2259,0,0,0.0,1.0,True,NaN,92103,False
2,63,5.987929,1.0,757,1,0,0.0,0.0,False,NaN,92114,False
3,187,21.326241,1.0,13,1,0,0.0,0.0,True,True,92139,True
4,207,8.140833,3.0,1,1,1,0.0,0.0,True,NaN,92107,True

In [10]:
df.describe()

,app_id,completion_time_mins,household_size,income,docs_with_app,docs_after_app,under18_n,over_59_n,zip
count,2046.000000,2046.000000,2042.000000,2046.000000,2046.000000,2046.000000,2042.000000,2042.000000,2046.000000
mean,38866.907625,21.405396,1.841332,936.043011,1.335777,0.767351,0.544564,0.095495,92117.892962
std,25305.360336,195.660625,1.289271,1228.864020,2.215341,2.085139,0.984058,0.330084,17.051878
min,1.000000,2.331827,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,92101.000000
25%,16437.750000,7.238275,1.000000,12.000000,0.000000,0.000000,0.000000,0.000000,92105.000000
50%,38066.500000,10.382387,1.000000,270.000000,0.000000,0.000000,0.000000,0.000000,92114.000000
75%,57698.500000,15.998537,2.000000,1679.500000,2.000000,0.000000,1.000000,0.000000,92123.000000
max,110550.000000,8551.751034,12.000000,9779.000000,25.000000,29.000000,6.000000,2.000000,92173.000000

In [12]:
check_missing_values(df)

                      number_total_rows  number_missing_rows  percentage
app_id                             2046                    0    0.000000
completion_time_mins               2046                    0    0.000000
household_size                     2046                    4    0.001955
income                             2046                    0    0.000000
docs_with_app                      2046                    0    0.000000
docs_after_app                     2046                    0    0.000000
under18_n                          2046                    4    0.001955
over_59_n                          2046                    4    0.001955
stable_housing                     2046                    0    0.000000
had_interview                      2046                 1017    0.497067
zip                                2046                    0    0.000000
approved                           2046                    0    0.000000

In [14]:
df[['approved', 'under18_n']].groupby('approved')['under18_n'].value_counts(dropna=False)

approved  under18_n
False     0.0          585
          1.0          142
          2.0           95
          3.0           57
          4.0           14
          NaN            2
          5.0            2
          6.0            1
True      0.0          847
          1.0          147
          2.0           86
          3.0           51
          4.0           11
          5.0            3
          NaN            2
          6.0            1
Name: under18_n, dtype: int64